<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <h1>Page Not Found</h1>
            <p>Sorry, we couldn't find the page you're looking for.</p>
            <a href="/">Return to Home</a>
        </LayoutView>
    </NotFound>
</Router>
