@page "/dogbreeds"
@using PawsomePets.Components.Models;
@inject DogService DogService

<PageTitle>Dog Breeds</PageTitle>

<h1>Dog Breeds</h1>

<button @onclick="LoadDogs">Load Dog Breeds</button>

@if (dogs != null && dogs.Any())
{
    <ul>
        @foreach (var dog in dogs)
        {
            <li>
                <h3>@dog.Name</h3>
                <img src="@dog.Image.Url" alt="@dog.Name" width="200" />
                <p>@dog.Temperament</p>
            </li>
        }
    </ul>
}
else
{
    <p>No dogs found!</p>
}

@code {
    private List<Dog> dogs;

    private async Task LoadDogs()
    {
        dogs = await DogService.GetDogsAsync();
    }
}
