@page "/"
<PageTitle>Welcome to PawsomePets</PageTitle>

<h1>Welcome to PawsomePets 🐾</h1>
<p>This website is your go-to resource for learning about the fascinating world of dog and cat breeds, regardless of whether you're an animal lover or trying to find a furry friend to adopt.</P>
	<p>Explore thorough breed profiles to discover the ideal companion for your way of life. Learn about each breed's distinctive traits, personalities, and requirements. To make an informed choice, you may even compare and save your favourite breeds. </p>
	<p>PawsomePets can assist you in finding your new best friend!</p>



